* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 360px;
  height: 600px;
  border: 2px solid #4db8ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #111;
}

.title { color: white; font-weight: 600; }
.subtitle { color: #777; font-size: 12px; }

.my-id {
  text-align: center;
  color: #4db8ff;
  font-size: 13px;
  padding: 6px;
}

.ids {
  padding: 8px;
}

.ids input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #222;
  background: #000;
  color: white;
}

.chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  max-width: 75%;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 8px;
  font-size: 14px;
}

.sent {
  background: #1a1a1a;
  color: white;
  margin-left: auto;
}

.received {
  background: #0d0d0d;
  color: #ddd;
  margin-right: auto;
}

.send {
  display: flex;
  padding: 8px;
  border-top: 1px solid #111;
}

.send input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #222;
  background: #000;
  color: white;
}

.send button {
  width: 45px;
  margin-left: 6px;
  border-radius: 50%;
  background: #1a1a1a;
  color: #4db8ff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

